<h3>Create an Account</h3>
<form class="ui form" [formGroup]="authForm">
  
    <app-input
        inputType="text"
        label="Username" [control]="authForm.controls.username">
    </app-input>
    <app-input 
        inputType="password"    
        label="Password" [control]="authForm.controls.password">
    </app-input>
    <app-input 
        inputType="password"
        label="Confirm Password" 
        [control]="authForm.controls.passwordConfirmation">
    </app-input>

    <div *ngIf="authForm.controls.password.touched && authForm.controls.passwordConfirmation.touched && authForm.errors"
        class="ui red basic label">
        <p *ngIf="authForm.errors['passwordsDontMatch']">
            Password and Confirm Password must match.
        </p>
    </div>
   
</form>
<div>
<button class="ui submit button primary" (click)="onClick()">Submit</button>
</div>

   <!-- <div class="field">
        <label>Username</label>
        <input formControlName ="username" />
    </div> -->
<!-- <div class="field">
    <label>Password</label>
    <input formControlName ="password" />
</div>

<div class="field">
    <label>Confirmed Password</label>
    <input formControlName ="passwordConfirmation" />
</div>
{{ authForm.controls.passwordConfirmation.errors | json }} -->
{{ authForm.errors | json}}
<!-- {{ authForm.controls.password.errors | json }} -->