<div class="container">

  <div class="card">
    <div class="card-image">
     
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">Card Holder Name</p>
          <p class="subtitle is-6">{{ cardname}}</p>
        </div>
        <div class="media-content">
          <p class="title is-4">Card Number</p>
          <p class="subtitle is-6">{{ cardNumber}}</p>
        </div>
      </div>
  
      <div class="content">
        Expiration<p>{{ expiration }}</p>
       
        
      </div>
    </div>
  </div>

</div>
