<div class="field">
    <label>
        {{label}}
    </label>
    <input 
    [type]="inputType"
    [formControl]="control" />
    <div *ngIf="showErrors()" class="ui pointing red basic label">
        <p *ngIf="control.errors">
            Value is required
        </p>
        <p *ngIf="control.errors !== null && control.errors['minlength']">
            Value you entered is 
            {{ control.errors['minlength'].actualLength }}
            characters long, but it must be at least
            {{ control.errors['minlength'].requiredLength }}
            characters!!!
        </p>
        <p *ngIf="control.errors !== null && control.errors['maxlength']">
                Value you entered is 
                {{ control.errors['maxlength'].actualLength }}
                characters long, but it can not be at longer than
                {{ control.errors['maxlength'].requiredLength }}
                characters!!!
        </p>
        <p *ngIf="control.errors !== null && control.errors['pattern']">
            Invalid Format!!!
        </p>
        <p *ngIf="control.errors !== null && control.errors['nonUniqueUsername']">
            Username is taken.
        </p>
        <p *ngIf="control.errors !== null && control.errors['noConnection']">
           Can't tell if username taken buz No internet connections
        </p>
    </div>
</div>
